*{
  box-sizing: border-box; 
  /* includes the padding into the calculation of width */
  padding: 0px;
  margin: 0px;
}
body{
  background: #111;
  background-image: url('https://source.unsplash.com/random/1920x1080/?wallpaper,landscape');
}
.App{
  max-width: 480px;
  margin: 20px auto;
}
.App-inner{
  background: #fff;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.main{
  background: #06012a;
  position: relative;
}
.btn-search{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  transition: all 0.2s linear;
  display: none;
}
.btn-search:hover{
  background: rgba(43, 43, 43, 0.352);
}
.btn-search img{
  width: 100%;
  transform: rotate(-45deg);
}

.btn-search-close img{
  transform: none;
}
.temperature{
  font-size: 50px;
  color: #434343;
  font-weight: bold;
  padding: 40px 20px;
  background: #7ccfd8;
}

.location-info{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

}
.location-info .location{
  flex: 1;
  background: #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.location .condition{
  font-size: 24px;
}
.location-title{
  text-transform: uppercase;
  margin-top: 5px;
  font-size: 14px;
}
.location-info .icon{
  display: flex;
  align-items: center;
  padding: 20px;
}


.search-bar{
  left: 0px;
  right: 0px;
  z-index: 2;
  transition: all 0.2s ease-in-out;
  margin-bottom: 10px;
  max-width: 480px;
  position: relative;
}
.search-bar.active{
  top: 0px;
}
.search-input{
  border-radius: 20px;
  padding: 20px 20px;
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  font-size: 20px;
}

.suggestions ul {
  margin-top: 5px;
  list-style: none;
  background: #fff;
  border-radius: 20px;
  max-height: 60vh;
  overflow: auto;
  width: 100%;
  position: absolute;
}
.suggestions ul li button{
  display: block;
  width: 100%;
  font-size: 15px;
  padding: 15px 20px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
}

.suggestions ul li button:hover{
  background: #eee;
}